# Use this file as a template for
# /etc/portage/make.conf.local in target

# Fill in if needed
#GENTOO_MIRRORS=""
# Your binhost goes here
PORTAGE_BINHOST=""

FEATURES="getbinpkg parallel-install"
EMERGE_DEFAULT_OPTS="--autounmask --autounmask-write --autounmask-keep-masks \
--jobs --load-average 4 --usepkg-exclude \
'sys-kernel/gentoo-sources sys-kernel/linux-firmware sys-firmware/* virtual/* */*-bin acct-*/*'"

#-j* -l* makes system more responsive, but compile time lengthtens
#-j* keeps tasks running no matter what
# Adapt to your target host in case you'll
# need to actually build something
MAKEOPTS="-j5 -l4"

# Nice to have it on target in case you'll
# need to actually build something
PORTAGE_NICENESS="15"

# Define ccache directory if used
#CCACHE_DIR="/var/cache/ccache"
# It is possible to permanently enable ccache with
#FEATURES="ccache"
# Alternatively it is possible to source the supplied gb-ccache
# which will enable ccache for the current session
